.message {
    padding-bottom: 26px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.contact_company_name {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.contact_addr_title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;

}

.map_text_container {
    display: flex;
    justify-content: space-between;
}

.contact_addr_detail {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.addr_info {
    margin-bottom: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #C00000;
}

.map {
    /* margin-right: 10vw; */
    margin-bottom: 40px;
    max-width: 800px;
    width: 100%;
}

.contact_info {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.tel_info {}

a:link.tel_info {
    color: black;
}

a:link:hover.tel_info {
    color: #C00000;
}

.text_underline {
    color: #C00000;
    text-decoration: underline;
}

.email_link {
    color: #C00000;
}

.reverse_row {
    display: flex;
    flex-direction: row-reverse;
}

.title_data_protection {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
}


.email_data_protection {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:992px) {
    .reverse_row {
        flex-direction: row;
    }

}