.intro {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 25px;
    text-align: left;
}

.laufend_project_btn {
    border: 2px solid transparent;
    background-color: white;
}

.laufend_project_btn:hover {
    border-bottom: 2px solid #C00000;
}

.laufend_project_btn_text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #C00000;
    vertical-align: middle;
    padding-right: 5px;
    margin-bottom: 40px;
}

/* .link_to_current_projects {
    padding-left: 5px;
} */