.staff_pic_container {
    display: flex;
    justify-content: center;
}

.staff_pic_container:hover img {
    transform: scale(1.05);
    transition: .3s ease;
    opacity: 0.95;
}

.pic {
    border-bottom: #FFF solid 31px;
    width: 100%;
}

.staff_pic {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    opacity: 1;
    backface-visibility: hidden;
}

.staff_pic_caption_1 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 31px;
    text-align: center;
    height: 39px;
}

.staff_pic_caption_1 {
    background-color: rgb(192, 0, 0, 1);
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    /* letter-spacing: -0.002em; */
    font-family: 'Barlow Condensed', sans-serif;
}

.staff_pic_text_1 {
    padding-left: 3px;
    height: 39px;
    margin-bottom: 0;
    align-items: center;
    display: grid;
}

.staff_pic_caption_2 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    text-align: center;
    height: 31px;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: rgb(199, 197, 197);
}

.staff_pic_caption_2 {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.002em;
}

.staff_pic_text_2 {
    padding-left: 3px;
    height: 31px;
    margin-bottom: 0;
    align-items: center;
    display: grid;
}

@media (max-width:768px) {

    /* .staff_pic_container {
        width: 300px;
        margin: auto;
    } */
}