/*Staffs*/


.about {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    hyphens: auto;
}

/*"staff_row" keep for gutter-x */
/* .staff_row {} */
.funder_row {
    --bs-gutter-x: 0px;
}

.funder_col {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

.funder_info {
    padding-left: 0px;
}

/*StaffDetail*/
/*----left----*/
.staff_left_box {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 350px;
    width: 100%;
    min-height: 880px;
    padding-bottom: 20px;
    position: relative;
}

.staff_name {
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 350px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: center;
}

.staff_detail_pic {
    max-width: 350px;
    width: 100%;
    padding-bottom: 24px;
}

.staff_info {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    max-width: 350px;
    width: 100%;

    text-align: center;

}

ul.staff_info_position_higher {
    height: 160px;
    line-height: 25px;
    padding-top: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0px;
    list-style-type: none;
}

.info_line {
    padding-left: 0px;
    text-align: center;

}

div.staff_info_position_lower {
    padding-bottom: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.staff_detail_left_bottom_element {
    width: 50%;
    margin: auto;
}

.info_link {
    text-decoration: underline;
}

.back_btn_container {
    padding-left: 5px;
    position: absolute;
    bottom: 20px;
}

.back_btn {
    border: 2px solid transparent;
    background-color: white;
}

.back_btn_text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #C00000;
    vertical-align: middle;
    padding-left: 5px;
}

.back_btn:hover {
    border-bottom: 2px solid #C00000;
}


/*----right----*/
div h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.staff_detail_title {
    padding-bottom: 10px;
    margin: 0px;
}

.section_box {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

a:link {
    color: #C00000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #C00000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #C00000;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #C00000;
    background-color: transparent;
    text-decoration: underline;
}

/*publication part*/
.pub_list {
    padding: 0px;
}

ul.publication_list {
    margin-bottom: 0px;
}

.publication_list_link {
    color: #000000;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.publication_list_link:hover {
    color: #C00000;
}

@media (min-width:1400px) {
    .staff_row {
        --bs-gutter-x: 11rem;
    }

}

@media (max-width:1400px) {
    .funder_col {

        justify-content: center;
    }

    .funder_info {
        margin-top: 20px;
        padding-left: 25px;
    }

}