.container {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 47px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    align-items: center;
}

.container.withbtn {
    display: flex;
    justify-content: space-between;
}

.hr {
    margin-top: 0px;
    background-color: rgb(110, 17, 17);
}

.reset_btn {
    border: 2px solid transparent;
    background-color: white;
    display: none;
}

.reset_btn_text {
    font-family: 'Barlow Condensed', sans-serif;
    color: #c00000;
    font-size: 24px;
    font-weight: 600;
    vertical-align: middle;
    padding-right: 5px;
}

.reset_btn:hover {
    border-bottom: 2px solid #C00000;
}

.reset_btn.show {
    display: block;
}

.back_to_project_btn {
    border: 2px solid transparent;
    background-color: white;
}

.back_to_project_btn_text {
    font-family: 'Barlow Condensed', sans-serif;
    color: #c00000;
    font-size: 24px;
    font-weight: 600;
    vertical-align: middle;
    padding-right: 5px;
}

.back_to_project_btn:hover {
    border-bottom: 2px solid #C00000;
}

.page_num_color {
    color: #C00000;
}

.page_number_row {
    display: flex;
    justify-content: end;
}

.pageBtn {
    background: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: #000000;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}

.pageBtn.selected {
    font-weight: 600;
    color: #c00000;
    text-decoration: underline;
}

.arrowBtn {
    background: none;
    font-family: 'Barlow Condensed', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.arrowBtn:hover {
    background-color: rgb(192, 0, 0, 0.1);
}

.pageline {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 12px;

}

.curPageNum {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c00000;
}

.arrow_btn_pic {
    height: 36px;
}

.back_btn_projectdetail {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    line-height: 88px;
    padding-left: 0px;
}

.left_side {
    max-width: 390px;
    width: 100%;
    margin: 0px;
}

.search_label {
    margin-bottom: 79px;
    width: 100%;
}

.clear_input_container {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #936464;
    width: 100%;
}

.clear_search {
    position: absolute;
    right: 22px;
    top: -10px;
    bottom: 0px;
    /* button appearane */
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 47px;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    color: #C00000;
    font-size: 42px;
    cursor: pointer;
}

#clearSearch::hover {
    transform: scale(1.05);
}

.filter_label {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.filter_list {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.detail_left {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
}

.detail_right {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 10px;
}

.partner {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.method {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

div.project_detail_title.col {
    padding: 10px;
}

.project_detail_title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

a.download_list {
    color: #C00000;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 5px 0px;
}

.download_list:hover {
    text-decoration: underline;
}

.project_list {
    padding: 0;
}

.project_row {
    padding-bottom: 0px;
}

.project_list_btn {
    border: none;
    background: none;
    text-align: left;
}

.project_list_arrow {
    margin-top: 8px;
}

.list_smallFont {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #525151;
}

.list_smallFont_red {
    color: #C00000;
}

.list_title {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 152%;
    margin-top: 5px;
    color: #000000;
}

.sep {
    margin-top: 0;
    margin-bottom: 40px;
}

.reverse_row {
    display: flex;
    flex-direction: row-reverse;
}

.no_project_msg {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #C00000;
}

@media (max-width:576px) {
    .page_text {
        display: none;
    }
}