/* || General styles */

/* || Typography */
/*Font 1 : Barlow Condensed*/
/* Regular Weight */
@font-face {
    font-family: "Barlow Condensed";
    src: url("../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
    font-weight: 400;
}

/* SemiBold (600) Weight */
@font-face {
    font-family: "Barlow Condensed";
    src: url("../fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
    font-weight: 600;
}

/* Medium Weight */
@font-face {
    font-family: "Barlow Condensed";
    src: url("../fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf");
    font-weight: 500;
}

/* Light Weight */
@font-face {
    font-family: "Barlow Condensed";
    src: url("../fonts/Barlow_Condensed/BarlowCondensed-Light.ttf");
    font-weight: 300;
}

/*Font 2 : Karla */
/* Regular Weight */
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla/static/Karla-Regular.ttf");
    font-weight: 400;
}

/* Medium Weight */
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla/static/Karla-Medium.ttf");
    font-weight: 500;
}


/* Light Weight */
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla/static/Karla-Light.ttf");
    font-weight: 300;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

#root {
    width: 100%;
}

.App {
    /*keep footer at bottom but not fixed*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
.header_container {
    padding-left: 0px;
    padding-right: 0px;
}

#logo_nav_container {
    padding-left: 0px;
    padding-right: 0px;
}

#nav_btn {
    white-space: nowrap;
}

#logo_img1 {
    width: 176px;
    height: 58px;
}

#logo_img2 {
    margin-left: 20px;
}

.title_pic_content {
    margin-top: 75px;
}

.title_pic_content.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/*HEADER NAV*/
.categoryTitle {

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    display: flex;
    /* padding-left: 24px; */
}

.category {
    margin: 0 auto 0px;
}

/*modify bootstrap css*/
.custom-toggler.navbar-toggler {
    border: 2px solid #C00000;
    margin-bottom: 8px;
    margin-top: -30px;
    margin-right: 5px;
    padding: 1px 10px;
    align-self: flex-end;
}

button.navbar-toggler.custom-toggler.btn.btn-primary:hover {
    background-color: rgb(192, 0, 0, 0.1);
}

.modal-backdrop {
    z-index: 1;
}

.btn-primary {
    color: #000000;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(192,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    width: 28px;
}

.modal-dialog {
    position: fixed;
    margin: auto;
    width: 200px;
    height: 100%;
    right: 0px;
}

.modal-content {
    height: 100%;
}

.modal-body ul li {
    text-align: center;
    font-size: 130%;
    padding: 5px;
    background-color: rgba(255, 255, 250, 0.97);
}

.btn-primary:focus {
    background-color: #ffffff;
}

.modalNav {
    color: #C00000;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #C00000;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-left: 2.5vw;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    /* outline: none; */
    box-shadow: 0px 2px 5px -1px rgb(192, 0, 0, 0.75);
}

.navbar-light .navbar-nav .nav-link.active {
    color: #C00000;
    text-transform: uppercase;
    text-decoration: underline;
}

.nav-link:hover {
    color: #8f0909;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.nav-pills .nav-link {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border: #fff;
    width: 350px;
    height: 45px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    justify-content: center;
    line-height: 30px;
    border-radius: 0;
}

.tab-content .active {
    text-decoration: none;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #C00000;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: none;
    font-weight: 600;
    pointer-events: none;
}

.nav-pills .nav-link:hover {
    text-decoration: underline;
    color: #C00000;
    font-size: 25px;
}

.text_color {
    color: #C00000;
}

/*SelectedProjectComp*/
.list_element {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}

.symbol {
    width: 90%;
}

.subtitle {
    color: #525151;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width:478.98px) {
    .title-pic-content {
        margin-top: 82px;
    }

    #logo_img1 {
        width: 176px;
        height: 58px;
    }

    #logo_img2 {
        display: none;
    }

    .category {
        margin: 0 auto 20px;
    }

    .staff-box {
        justify-content: center;
    }

    #contact_addr_title {
        margin-top: 40px;
    }
}

/********** Extra small devices only **********/
@media (min-width:479px) and (max-width: 767.98px) {
    .title_pic_content {
        margin-top: 75px;
    }

    #logo_img1 {
        width: 176px;
        height: 58px;
    }

    #logo_img2 {
        width: 155px;
        height: 40px;
    }

    .category {
        margin: 0 auto 20px;
    }

    .staff-box {
        justify-content: center;
    }

    #contact_addr_title {
        margin-top: 40px;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991.98px) {
    .title_pic_content {
        margin-top: 75px;
    }

    #logo_img1 {
        width: 176px;
        height: 58px;
    }

    #logo_img2 {
        width: 155px;
        height: 40px;
    }

    .category {
        margin: 0 auto 20px;
    }

    .service_pic {
        width: 340px;
        height: 191px;
    }

    .service_pic_caption {
        font-size: 32px;
    }

    .staff-row {
        --bs-gutter-x: 4.5rem;

    }

    #contact_addr_title {
        margin-top: 40px;
    }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width:1199.98px) {
    .title-pic-content {
        margin-top: 75px;
    }

    #logo_img1 {
        width: 176px;
        height: 58px;
    }

    #logo_img2 {
        width: 155px;
        height: 40px;
    }

    .category {
        margin: 0 auto 20px;
    }

    .service_pic {
        width: 300px;
        height: 168px;
    }

    .service_pic_caption {
        font-size: 28px;
    }

    .staff-row {
        --bs-gutter-x: 1rem;
    }
}

@media (min-width:1199px) and (max-width:1399.98px) {
    .category {
        margin: 0 auto 20px;
    }

    .service_pic {
        width: 355px;
        height: 200px;
    }

    .service_pic_caption {
        font-size: 32px;
    }

    .staff-row {
        padding-bottom: 20px;
        --bs-gutter-x: 6rem;
    }

}

@media (min-width:1399px) {
    .category {
        margin: 0 auto 20px;
    }

    .topic-row {
        justify-content: space-around;
    }
}